<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<ul>
  <% items.forEach(function(item) { %>
  <li>
    <a href="<%=item.url%>"><%- item.name%></a> / <%- item.description %> / <%-
    item.websiteUrl %>
  </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
