<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<H3>Brand: <%= item.name %></H3>
<p>Description: <%= item.description %></p>
<p>
  Website URL:
  <a href="https://www.<%= item.websiteUrl %>" target="_blank"
    >www.<%= item.websiteUrl %></a
  >
</p>

<hr />
<p>
  <a href="<%= item.url %>/update">Update brand</a>
</p>
<p>
  <a href="<%= item.url %>/delete">Delete brand</a>
</p>

<%- include('../partials/footer') %>
