<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<div class="form-group">
  <form action="POST" action="">
    <label for="size">Size:</label>
    <input type="text" class="form-control" id="size" name="size" />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>
