<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<ul>
  <li>Diameter size: <%= item.name %></li>
</ul>
<hr />
<p>
  <a href="<%= item.url %>/delete">Delete diameter</a>
</p>
<hr />
<%- include('../partials/footer') %>
