<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<div class="form-group">
  <form action="POST" action="">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" />
    <label for="description">Description:</label>
    <input
      type="textarea"
      class="form-control"
      id="description"
      name="description"
    />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>
