<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<div class="form-group">
  <form action="" method="post">
    <label for="name">Name:</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%-
    undefined == item ? '' : item.name %>"
    />
    <label for="description"> Description: </label>
    <input
      type="textarea"
      class="form-control"
      id="description"
      name="description"
      value="<%-
    undefined == item ? '' : item.description %>"
    />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>
