<%- include('../partials/head') %> <%- include('../partials/header') %><%-
include('../partials/nav') %> <%# content goes here.... %>

<h4><%= title %></h4>

<H3><%= item.brand.name %> - <%= item.material.name %> - <%= item.color %></H3>

<ul>
  <li>Material: <%= item.material.name %></li>
  <li>Brand: <%= item.brand.name %></li>
  <li>Diameter: <%= item.diameter.size %>mm</li>
  <li>Color: <%= item.color %></li>
  <li>Quantity: <%= item.quantityOf %> pieces</li>
  <li>Price: $<%= item.priceInDollars %></li>
  <li>Weight (grams): <%= item.weightInGrams %></li>
</ul>

<% if (item.errors) { %>
<ul>
  <% item.errors.forEach( error => { %>
  <li><%= error %></li>
  <% }); %>
</ul>
<% } %>

<hr />
<p>
  <a href="<%= item.url %>/update">Update roll</a>
</p>
<p>
  <a href="<%= item.url %>/delete">Delete roll</a>
</p>
<hr />

<%- include('../partials/footer') %>
